<!doctype html>
<html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-5M917JV51Q"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-5M917JV51Q");
        </script>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>{{ partial "header.html" . }}</header>
        <main>{{ block "main" . }}{{ end }}</main>
        <footer>{{ partial "footer.html" . }}</footer>
    </body>
</html>
